<!DOCTYPE html>
<html>
  <head>
    <title>Buy of {{item.name}}</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <h1>{{item.name}}</h1>
    <p>{{item.description}}</p>
    <p>{{item.price}}</p>
    <button id="buy-button">Buy</button>
    <script type="text/javascript">
      var stripe = Stripe('{{pkey}}');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint 
        // Redirect to Stripe Session Checkout
        fetch('{% url 'orders:buy' item.id %}', {method: 'GET'})
        .then(function(response) {
          return response.json();
        })
        .then(function(answer) {
          return stripe.redirectToCheckout({ sessionId: answer.session_id });
        })
      });
    </script>
  </body>
</html>
